@import 'lms/static/sass/discussion/lms-discussion-main';
@import '../lms-overrides';

.header-global.slim {
    .wrapper-header {
        .logo {
            margin-top: 0;
            margin-left: 16px;
        }
    }
}

.tabs .tab a {
    &, &:visited {
        color: $gray-d1;
        border-bottom-color: transparent;

        &:hover, &:focus, &:active, &.active {
            color: $gold;
            border-bottom-color: $gold;
        }
    }
}

.wrapper-footer footer#footer-openedx {
    ul, ol {
        margin: 0;
    }

    a {
        &, &:visited {
            color: $link-color;
        }
        &:hover, &:active {
            color: $link-hover;
        }
    }
}
