<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%namespace file='../theme-variables.html' import="get_tos_content" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Terms and Conditions.")}</h1>
        <p>${_("Click the following link to read our full Terms and conditions page: ")}<a href="http://www.cloudera.com/legal/terms-and-conditions.html">Cloudera's Terms and Conditions</a></p>
    </section>
</main>
