@import 'lms/static/sass/partials/base/variables';

$pearsonx-main-color: #007fa3;
$custom-color: $pearsonx-main-color;

$homepage-bg-image: url('../images/clipboard.jpg');

$pearson-banner-image: url('../images/steps.jpg');
