.header-global {

  .logo img {
    height: 46px;
  }

  .nav-global li a {
    &:hover,
    &:active,
    &:focus {
      color: #fff;
    }
  }

  .nav-courseware li .btn:hover,
  .nav-courseware li .btn:focus,
  .nav-courseware li .btn:active {
    color: #fff;
    background-color: #287acc;
  }

  a,
  .doc-link {
    color: #3399ff;

    &:hover,
    &:visited,
    &:focus,
    &:active {
      color: #fff;
    }
  }

  .primary > a {

    box-shadow: none;
    text-shadow: none;
    background: transparent;
    color: #3399ff;

    &:hover,
    &:focus,
    &:active {
      background: transparent;
      color: #fff;
    }
  }

  .user .dropdown {
    color: #fff;
    background: transparent;
  }

  &.slim {

    h1.logo img {
      vertical-align: baseline;
    }

    h2.course-header {
      width: 50%;
      color: #3399ff;
      text-shadow: none;
    }

  }

}

.form-wrapper#register-form,
.form-wrapper#login-form {

  .action-primary {

    color: #fff;
    background-color: #3399ff;

    &:hover,
    &:focus,
    &:active {
      background-color: #287acc;
    }

  }

  .form-toggle {

    border: 1px solid #287acc;
    color: #287acc;

    &:hover,
    &:focus,
    &:active {
      color: #fff;
      background-color: #3399ff;
    }

  }

}

.wrapper-footer footer#footer-openedx {

  .colophon .nav-legal li a {
    color: #fff;

    &:hover,
    &:visited,
    &:focus,
    &:active {
      color: #fff;
    }
  }

  .copyright {
    color: #d8d8d8;
  }

}
