.global-header {
  background-color: $maw-online-purple !important;

  .logo img {
    height: 46px;
  }

  .nav-global li a {
    &:hover,
    &:active,
    &:focus {
      color: #fff;
    }
  }


  // header buttons
  .register-btn, .sign-in-btn, a.help-link{
      margin: 8px 15px 0 !important;
      padding: 10px 20px !important;
      box-shadow: none !important;
      border: $maw-online-blue 1px solid !important;
      background: $maw-online-purple none !important;
      color: $maw-online-blue !important;
      text-transform: none !important;
      font-weight: 300 !important;
      font-size: 1rem;
      line-height: normal;

      &:hover, &:focus, &:active {
        background: none;
        box-shadow: none;
        color: white;
      }
    }
    .nav-links {
      .main .nav-tab a {
         color: $maw-online-blue !important;
        .btn {
          color: $maw-online-blue !important;
          padding: 7px 25px 19px;
          font-weight: 400;
          display: inline-block;
          margin-bottom: -10px;
          border-bottom: 4px hidden white;
          cursor: pointer;
          background-color: transparent;
          border-style: hidden;
        }
        &.active {
          border-bottom: 4px white;
          border-bottom-style: solid;
        }
      }
      .secondary {
        .nav-item {
          a, span {
            color: $maw-online-blue !important;
            font-weight: 300;
          }
        }
        .dropdown-user-menu {
          border-radius: 4px;
          box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
          border: 1px solid $border-color;
          .dropdown-nav-item a {
            color: black;
          }
        }
      }
    }

  .nav-courseware li .btn,
  .nav-courseware li .btn:hover,
  .nav-courseware li .btn:focus,
  .nav-courseware li .btn:active {
    box-shadow: none;
    padding-top: 14px;
    padding-bottom: 14px;
    color: #fff;
    background: transparent;
    text-transform: uppercase;
  }

  a,
  .doc-link {
    color: #fff;

    &:hover,
    &:visited,
    &:focus,
    &:active {
      color: #fff;
    }
  }

  .primary > a {

    box-shadow: none;
    text-shadow: none;
    background: transparent;
    color: #3399ff;

    &:hover,
    &:focus,
    &:active {
      background: transparent;
      color: #fff;
    }
  }

  .user .dropdown {
    color: #fff;
    background: transparent;
  }

  &.slim {

    background-color: $maw-online-purple !important;

    h1.logo img {
      vertical-align: baseline;
    }

    .course-header {
      width: auto;
      color: #fff !important;
      text-shadow: none;
    }

  }

  .user-menu {
    color: #fff;
  }
}

.home > header {
  background-position: bottom left;

  .outer-wrapper {
    padding: 90px 60px;
  }
}

.form-wrapper#register-form,
.form-wrapper#login-form {

  .action-primary {

    color: #fff;
    background-color: #3399ff;

    &:hover,
    &:focus,
    &:active {
      background-color: #287acc;
    }

  }

  .form-toggle {

    border: 1px solid #287acc;
    color: #287acc;

    &:hover,
    &:focus,
    &:active {
      color: #fff;
      background-color: #3399ff;
    }

  }

}

#main > .container.about > h1.honor-section-heading {
  margin-top: 1.5em;
}

.wrapper-footer{
  background-color: $maw-online-blue !important;
}

.wrapper-footer footer#footer-openedx {

  .colophon .nav-legal li a {
    color: #fff;

    &:hover,
    &:visited,
    &:focus,
    &:active {
      color: #fff;
    }
  }

  .copyright {
    color: #d8d8d8;
  }

}
