h2 {
  text-transform: none;
}

.window-wrap {
  background-color: $white;
}

.find-courses {
  background-color: $white;
  line-height: 140%;
  .programs-page-overview {
    margin: $baseline;
  }
  .courses,
  .courses-no-course-discovery {
    margin: $baseline;
  }
}

.home {
  margin-left: ($baseline);
  margin-right: ($baseline);

  > header {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background: $white;

    .hero-container {
      display: flex;
      flex-wrap: wrap;
    }

    .hero-image {
      background-image: $homepage-bg-image;
      background-position: left 50% bottom 33%;
      background-size: cover;
      background-repeat: no-repeat;
      flex-basis: 45%;
      @media screen and (max-width: 760px) {
        display: none;
      }
      min-height: 200px;
    }

    .hero-text {
      padding: ($baseline) ($baseline*1.5);
      flex-basis: 45%;
      line-height: 140%;
      @media screen and (max-width: 760px) {
        flex-basis: 100%;
      }
    }
  }
}

.pearson-banner {
  background-image: $pearson-banner-image;
  background-size: cover;
  background-position: left 0px bottom 60%;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-height: 150px;
  margin-bottom: 25px;

  .pearson-banner-gradient {
    background: linear-gradient(to right, $white, rgba(255,255,255,0));
    min-height: 150px;
    width: 25%;
    min-width: 300px;
  }

  .pearson-banner-text {
    padding: ($baseline) ($baseline*1.5);
    width: 150px;
  }
}

.programs-container {
  margin-top: ($baseline*1.5);
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  .program-container {
    flex: 1 1 200px;
    @media screen and (max-width: 760px) {
      flex-basis: 100%;
    }
    width: 300px;
    padding: ($baseline);
    .program-image {
      width: 100%;
      max-width: 300px;
      min-width: 200px;
      margin-left: auto;
      margin-right: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    .program-name {
      margin-top: ($baseline);
      text-align: center;
    }
  }
}

.offered-by-box {
  max-width: 760px;
  margin: 30px auto 70px;
  text-align: center;
}

.wrapper-logo {
  display: inline-block;
}

.wrapper-footer footer#footer-openedx .colophon {
  width: 100%;
  div {
    a {
      color: $pearsonx-main-color;
    }
    display: inline-block;
    margin: ($baseline/2) ($baseline/2)
  }
}

.wrapper-footer footer#footer-openedx .footer-about-openedx {
  float: right;
  width: auto;
}

.copyright {
  margin: -2px 0 8px 0;
  font-size: 0.6875em;
  color: #767676;
  text-align: left;
}

.top-footer {
  width: 100%;
}

.container.about {
  background-color: $white;
  line-height: 140%;

  .mission-statement-container{
    display: flex;
    .about-image-video-container{
      padding: $baseline;
      flex-basis: 45%;
      .about-hero-image {
        width: 100%;
        height: auto;
      }
    }
    .mission-statement {
      flex-basis: 45%;
      padding: $baseline;
    }

  }

}

.container.contact {
  label.hidden-label{
    clip-path: inset(100%);
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; /* added line */
    width: 1px;
  }
  select,
  input {
    display: block;
    height: 32px;
    width: 100%;
    margin: auto;
    padding-left: 10px;
  }
  .contact-container {
    max-width: 1200px;
    margin: 0 $baseline;
    display: flex;
    .contact-picture-container {
      flex-basis: 60%;
      .contact-picture {
        width: 100%;
        height: auto;
      }
    }
    .contact-form-container {
      flex-basis: 40%;
      margin-left: $baseline;
      .hidden-form-fields {
        display: none;
      }
      .affirm-submission-wrapper{
        margin-bottom: 0.5 * $baseline;
        #affirm-submission {
          height: auto;
          width: auto;
          display: inline-block;
        }
      }
      .contact-submit-button {
        display: block;
        flex-basis: 45%;
        align-items: baseline;
        box-shadow: 0 2px 1px 0 #0a4a67;
        border-radius: 3px;
        background: #126f9a;
        color: #fff;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-shadow: none;
        font-weight: 500;
        letter-spacing: 0;
        margin-bottom: (0.5 * $baseline);
        transition: color 0.25s ease-in-out, background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
        text-transform: capitalize;
        &:hover {
          background: #1790c7;
        }
        .icon.fa.fa-spinner {
          display: none;
        }
      }
      div.error-message {
        display: none;
        background-color: $error-color;
        color: $white;
        margin-bottom: (0.5 * $baseline);
        padding: (0.25 * $baseline);
      }
    }
  }
}

.login-register-content {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  .login-register {
    width: auto;
    min-width: 300px;
    margin: 0px;
  }
  .registration-sidebar-column{
    display: inline-flex;
    width: 40%;
    min-width: 320px;
    margin: 0px ($baseline/2);
    .registration-sidebar-image {
      margin: auto 0px;
      margin-top: 35px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

// Used for call-to-action buttons (enroll now, inquire now, add to cart, …) in course_about page
@mixin inquire-now-blue-button {
  @include box-sizing(border-box);
  border-radius: 3px;
  font: normal 1.2rem/1.6rem $sans-serif;
  display: block;
  flex-basis: 45%;
  align-items: baseline;
  box-shadow: 0 2px 1px 0 #0a4a67;
  background: #126f9a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-shadow: none;
  font-weight: 500;
  letter-spacing: 0;
  transition: color 0.25s ease-in-out, background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  margin: 0px ($baseline * 0.25) ($baseline * 0.5);
  min-width: 150px;
  &:hover {
    background: #1790c7;
  }
}

section.course-info {
  header.course-profile {
    padding-top: 0px;
    max-width: 1200px;
    margin: auto;
    border: none;
    .intro-inner-wrapper {
      background: rgba(255, 255, 255, 0.25);
      border: none;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.93), inset 0 -1px 5px 0 rgba(0, 0, 0, 0.1);
      max-width: none;
      height: 100%;
      width: 100%;
      .intro {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        .heading-group {
          border-bottom: none;
          box-shadow: 0px 0px 50px 50px rgba(255, 255, 255, 0.75);
          background: rgba(255, 255, 255, .75);
          margin-bottom: 0px;
          padding-bottom: 0px;
        }
      }
    }
  }

  .details {
    // this @media rule can be deleted after https://github.com/edx/edx-platform/pull/16640/ is merged
    @media screen and (max-width: 760px) {
      float: none;
      width: auto;
    }

    // Second inquire button, only visible in small screens
    a.inquire {
      @include inquire-now-blue-button;
      @media screen and (min-width: 760px) {
        display: none;
      }
    }

  }

  .course-sidebar {

    header {
      margin-bottom: ($baseline * 0.5);
    }

    // this @media rule can be deleted after https://github.com/edx/edx-platform/pull/16640/ is merged
    @media screen and (max-width: 760px) {
      float: none;
      width: auto;
    }

    .course-summary {
      .main-cta {
        margin-bottom: $baseline;
        @include clearfix();
        @include float(left);
        @include margin-right(flex-gutter());
        width: flex-grid(12);

        .inquire-wrapper {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          width: 100%;
          a.register, a.inquire, a.add-to-cart {
            @include inquire-now-blue-button;
          }
        }

        a {
          &:hover, &:visited, &:focus {
            text-decoration: none;
          }
        }

        strong {
          @include box-sizing(border-box);
          border-radius: 3px;
          display: block;
          font: normal 1.2rem/1.6rem $sans-serif;
          letter-spacing: 1px;
          padding: ($baseline/2) 0;
          text-transform: uppercase;
          text-align: center;
        }

        span.register, span.add-to-cart {
          background: $button-archive-color;
          border: 1px solid darken($button-archive-color, 50%);
          @include box-sizing(border-box);
          color: darken($button-archive-color, 50%);
          display: block;
          letter-spacing: 1px;
          padding: 10px 0px 8px;
          text-transform: uppercase;
          text-align: center;
          @include float(left);
          @include margin(1px, flex-gutter(8), 0, 0);
          @include transition(none);
          width: flex-grid(5, 8);
        }

        #register_error {
          background: $error-color;
          border: 1px solid rgb(202, 17, 17);
          color: rgb(143, 14, 14);
          display: none;
          padding: 12px;
          margin-top: ($baseline/4);
        }
        &::after {
          content: "";
          display: block;
          height: 1px;
          width: 100%;
          z-index: 1;
          background-image: linear-gradient(180deg, rgba(200, 200, 200, 0) 0%, #c8c8c8 50%, rgba(200, 200, 200, 0));
        }
      }
      .media {
        background: transparent;
        @include box-sizing(border-box);
        display: table-cell;
        padding: 20px;
        position: relative;
        width: flex-grid(4);
        z-index: 2;

        .hero {
          border: 1px solid $border-color-3;
          height: 100%;
          overflow: hidden;
          position: relative;

          .play-intro {
            @include background-image(linear-gradient(-90deg, rgba(0,0,0, 0.65), rgba(0,0,0, 0.75)));
            border-radius: 4px;
            box-shadow: 0 1px 12px 0 $shadow-d1;
            border: 2px solid rgba(255,255,255, 0.8);
            height: 80px;
            @include left(50%);
            margin-top: -40px;
            @include margin-left(-40px);
            position: absolute;
            top: 50%;
            width: 80px;

            &::after {
              color: rgba(255,255,255, 0.8);
              content: "\25B6";
              display: block;
              font: normal 2em/1em $sans-serif;
              @include left(50%);
              @include margin-left(-11px);
              margin-top: -16px;
              position: absolute;
              text-shadow: 0 -1px rgba(0,0,0, 0.8);
              top: 50%;
            }
          }

          img {
            display: block;
            width: 100%;
          }
        }

        &:hover, &:focus {
          text-decoration: none;

          .play-intro {
            @include background-image(linear-gradient(-90deg, rgba(0,0,0, 0.75), rgba(0,0,0, 0.8)));
            box-shadow: 0 1px 12px 0 rgba(0,0,0, 0.5);
            border-color: rgba(255,255,255, 0.9);

            &::after {
              color: rgba(255,255,255, 1);
            }
          }
        }
      }
    }
  }
}

#contacted-message {
  display: none;
}

// this @media rule can be deleted after https://github.com/edx/edx-platform/pull/16640/ is merged
@media screen and (max-width: 760px) {
  .course-info {
    header.course-profile {
      .intro-inner-wrapper {
        min-width: auto;
      }
    }
    .container {
      min-width: auto;
      padding: 20px;
    }
  }
}


/*
The below section is backported from Ginkgo to apply theming to the
banner indicating that the inquiry form was submitted successfully.
It should be removed when upgrading the theme to Ginkgo; test to make
sure that the inquiry success banner still appears correctly.
*/

.wrapper-msg {
  display: block;
  background: $notify-banner-bg-1;
  padding: $baseline ($baseline*1.5);

  // basic object
  .msg {
    @include clearfix();
    max-width: grid-width(12);
    min-width: 760px;
    width: flex-grid(12);
    margin: 0 auto;
  }

  .msg-content,
  .msg-icon {
    display: inline-block;
    vertical-align: middle;
  }

  .msg-content {

    .title {
      @extend %t-title5;
      @extend %t-weight4;
      margin-bottom: ($baseline/4);
      color: inherit;
      text-transform: none;
      letter-spacing: 0;
    }

    .copy {
      @extend %t-copy-sub1;
      color: inherit;

      p { // nasty reset
        @extend %t-copy-sub1;
        color: inherit;
      }
    }
  }

  .has-actions {

    .msg-content {
      width: flex-grid(10,12);
    }

    .nav-actions,
    .msg-actions {
      width: flex-grid(2,12);
      display: inline-block;
      vertical-align: middle;
      text-align: right;

      .action-primary {
        @extend %btn-primary-green;
      }
    }
  }

  .is-dismissable {

    .msg-content {
      width: flex-grid(11,12);
    }

    .action-dismiss {
      width: flex-grid(1,12);
      display: inline-block;
      vertical-align: top;
      text-align: right;

      .button-dismiss {  //ugly reset on button element
        @extend %t-icon4;
        background: none;
        box-shadow: none;
        border: none;
        text-shadow: none;
        color: inherit;

        &:hover, &:focus {
          color: $action-primary-bg;
        }
      }
    }
  }

  // object variations
  &.urgency-high {
    background: $notify-banner-bg-1;

    .msg {
      color: $white;
    }
  }

  &.urgency-mid {
    background: $notify-banner-bg-2;

    .msg {
      color: $white;
    }
  }

  &.urgency-low {
    background: $notify-banner-bg-3;
    box-shadow: 0 1px 2px $shadow;

    .msg {
      color: $black;
    }
  }

  &.urgency-info {
    background: $msg-bg;
    .msg {
      color: $white;
    }
    .msg-icon {
      font-size: 2.5em;
      padding: 20px;
    }
    .msg-content {
      max-width: 80%;
    }
  }

  &.alert {
    border-top: 3px solid $alert-color;
  }

  &.error {
    border-top: 3px solid $error-color;
  }

  &.warning {
    border-top: 3px solid $warning-color;
  }

  &.success {
    border-top: 3px solid $success-color;
  }


  &.is-incontext {
    margin: $baseline;

    .msg {
      max-width: unset;
      min-width: auto;
    }
  }
}

/*
Below is a quick fix of Sign-up button
which appeared on the main page
likely due to some Facebook Pixel/Google Tag manager
issue.
*/
body > #contact-submit-button {
 display: none;
}
