$link-color: #39f;
$header-bg: #2d1a3d;
$footer-bg: #39f;
$footer-color: #fff;
$footer-link-color: #fff;
$btn-secondary-bg: #0075b4;
$btn-secondary-color: #fff;
$btn-secondary-border-color: #0075b4;
$btn-secondary-hover-bg: #0075b4;
$btn-secondary-hover-color: #fff;
$btn-secondary-hover-border-color: #0075b4;
$btn-primary-bg: #0075b4;
$btn-primary-color: #fff;
$btn-primary-border-color: #0075b4;
$btn-primary-hover-bg: #0075b4;
$btn-primary-hover-color: #fff;
$btn-primary-hover-border-color: #0075b4;
$customize-sign-in-btn: true;
$btn-sign-in-bg: #2d1a3d;
$btn-sign-in-color: #39f;
$btn-sign-in-border-color: #2d1a3d;
$btn-sign-in-hover-bg: #2d1a3d;
$btn-sign-in-hover-color: #39f;
$btn-sign-in-hover-border-color: #2d1a3d;
$customize-register-btn: true;
$btn-register-bg: #2d1a3d;
$btn-register-color: #39f;
$btn-register-border-color: #2d1a3d;
$btn-register-hover-bg: #2d1a3d;
$btn-register-hover-color: #39f;
$btn-register-hover-border-color: #2d1a3d;
$customize-logistration-action-btn: true;
$btn-logistration-bg: #3399ff;
$btn-logistration-color: #fff;
$btn-logistration-border-color: #3399ff;
$btn-logistration-hover-bg: #287acc;
$btn-logistration-hover-color: #fff;
$btn-logistration-hover-border-color: #287acc;
$main-nav-item-border-bottom-color: #fff;
$main-nav-item-hover-border-bottom-color: #0075b4;
$main-nav-link-color: #39f;
$main-color: #0075b4;
$undefined: #fff;

$homepage-bg-image: url("../images/banner.jpg");
