@import 'lms/static/sass/lms-course';
@import 'lms-overrides';

.wrapper-course-material {
  .course-tabs {
    li {
      a,
      a:visited {
        &:hover,
        &:focus,
        &.active {
          color: $gold;
          border-bottom-color: $gold;
        }
      }
    }
  }
} 
