@import 'lms/static/sass/lms-course';
@import 'lms-overrides';

.wrapper-course-material {
  .course-tabs {
    li a {
      &, &:visited {
        color: $gray-d1;

        &:hover,
        &:focus,
        &:active,
        &.active {
          color: $blue;
          border-bottom-color: $blue;
        }
      }
    }
  }
} 
