@import 'lms/static/sass/partials/base/variables';

// Fonts
$sans-serif: 'Calibre', 'Roboto', 'Lato', 'Open Sans', sans-serif;
$serif: $sans-serif;
$header-sans-serif: $sans-serif;
$f-sans-serif: $sans-serif;
$f-serif: $sans-serif;

// Palette
$midnight-blue: rgb(0, 77, 111);
$brilliant-blue: rgb(41, 167, 222);
$aqua-blue: rgb(130, 220, 216);
$royal-blue: rgb(0, 120, 217);
$gray-blue: rgb(151, 210, 230);
$sunrise-yellow: rgb(255, 214, 100);
$accent-red: rgb(230, 70, 48);

// Colors
$action-primary-bg: $midnight-blue;
$action-primary-shadow: $midnight-blue;
$action-primary-focused-bg: $midnight-blue;
$action-primary-active-bg: $midnight-blue;
$action-primary-active-shadow: $midnight-blue;
$link-color: $midnight-blue;
$link-color-d1: $midnight-blue;
$link-hover: $brilliant-blue;
$button-color: $midnight-blue;

// Body
$homepage-bg-image: url('#{$static-path}/images/banner.jpg');

// Footer
$footer-bg: $brilliant-blue;
