<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import get_language_info, ugettext as _
from openedx.core.djangolib.markup import HTML
from django.core.urlresolvers import reverse
from courseware.courses import get_course_about_section
from django.conf import settings
from edxmako.shortcuts import marketing_link
from openedx.core.lib.courses import course_image_url
from openedx.core.djangoapps.catalog.utils import get_course_run_details
from xmodule.contentstore.content import StaticContent
from six import string_types
from six.moves.urllib.parse import quote
%>
##
## What changed in relation to the upstream template
## -------------------------------------------------      As of December 2017
##
## - Added Coursetalk widget JS
## - Removed div.table (only tag, not content) in div.intro-inner-wrapper
## - Added JS to show #contacted-message
## - Text "edX in collaboration with" changed from <button> to <h2>
## - Add "Thank you for your inquiry" before header.course-profile
## - Add style="..." to header.course-profile
## - "Enroll" button can be "Enroll" or "Inquire"
## - Course video moved downwards in the file. From: after the Enroll button. To: after "Requirements"
## - New date format for course_start_date
## - Indented code for blocks about course effort and others
## - Removed "course reviews tool"
## - Added Coursetalk widget
##
## ##### ol.important-dates: #####
## - In upstream, the shown blocks were: course number, classes start, classes end, estimated effort, course length, course price, prerequisites, requirements
## - In ours, the shown blocks are: course number, classes start, classes end, estimated effort, institution, language, duration, course price, prerequisites, requirements
##
## ##### div.course-summary: #####
## - Our div.course-summary contains: course_about_sidebar_header.html, div.main-cta, div>ol.important-dates, a>div.hero
## - Upstream div.course-summary contains: course_about_sidebar_header.html, ol.important-dates
##
## ##### div.main-cta: #####
## - Our div.main-cta contains: View course / Course is in your cart / Course is full / By invitation only / Closed / Add to cart / Enroll now / Inquire now
## - Upstream div.main-cta contains: You are enrolled in this course / View course / Course is in your cart / Course is full / By invitation only / Closed / Add to cart / Enroll in course
##
## ##### section.course-info: #####
## - Upstream's contains:  header, div.container>div.details, div.course-sidebar>div.course-summary
## - Ours contains: div#contacted-message, header, div.container>div.details, div.course-sidebar>div.course-summary

## ##### Some things that didn't change despite appearing in different positions #####
## - "View about page in studio" is, in both templates, after closing <header>, and it's inside div.container>div.details


<%inherit file="course_about.html" />

<%def name="get_inquire_url(course)">\
<%
  inquire_url = '/contact'
  inquire_url += '#00N61000002EYUJ={}'.format(quote(course.display_name_with_default_escaped))
  inquire_url += '&retURL={}'.format(quote(request.build_absolute_uri(request.path) + '#contacted'))
  if not course.start_date_is_still_default:
    inquire_url += '&00N61000002L8on={}'.format(quote(course.start.strftime('%B %Y')))
%>\
${inquire_url}\
</%def>

<%block name="js_extra">
  ## CourseTalk widget js script
  % if show_coursetalk_widget:
  <script src="//d3q6qq2zt8nhwv.cloudfront.net/s/js/widgets/coursetalk-read-reviews.js"></script>
  % endif

  ${HTML(parent.js_extra())}

  <script type="text/javascript">
  (function() {
    var hashParams = window.location.hash;
    if (hashParams.includes("contacted")) {
      $("#contacted-message").show();
    }
  })(this);
  </script>

</%block>



<%block name="course_about_reviews_tool">

      ## CourseTalk widget
      % if show_coursetalk_widget:
      <div class="coursetalk-read-reviews">
        <div id="ct-custom-read-review-widget" data-provider="${platform_key}" data-course="${course_review_key}"></div>
      </div>
      % endif

</%block>

<%block name="course_about_header">
  <div class="wrapper-msg urgency-info" id="contacted-message">
    <div class="msg">
      <span class="msg-icon fa fa-info-circle" aria-hidden="true"></span>
      <div class="msg-content">
        <h2 class="title">
          Thank you for your inquiry into PearsonX and our program offerings. One of our Program Advisors will be contacting you shortly.
        </h2>
        <div class="copy">
          <p>
            We are committed to helping individuals advance in their careers and take the next step in their education goals. PearsonX provides you with globally recognized, relevant programs of study, as well as the opportunity to network with peers and progress your career.
          </p>
        </div>
      </div>
    </div>
  </div>

  <header class="course-profile" style="background-image: url('${course_image_url(course, 'banner_image')}')">
    <div class="intro-inner-wrapper">
      <section class="intro">
        <div class="heading-group">
          <h1>
            ${course.display_name_with_default_escaped}
          </h1>
          <br/>
          <h2>
            edX in Collaboration with ${course.display_org_with_default | h}
          </h2>
        </div>
      </section>
    </div>

    ## Note: div.main_cta was removed from here and moved into div.course-summary

  </header>
</%block>

<%block name="course_about_important_dates">
## In this block we include not only ol.important-dates, but these other components:
## - first, the main-cta block which was moved from   .course-profile > .intro-inner-wrapper > .intro > .main-cta   to here   (.course-info > .course-sidebar > .course-summary > .main-cta)
## - then, the ol.important-dates itself
## - then, a#video-modal

        <div class="main-cta">
        %if user.is_authenticated() and registered:
          %if show_courseware_link:
            <a href="${course_target}">
            <strong>${_("View Course")}</strong>
            </a>
          %endif

        %elif in_cart:
          <span class="add-to-cart">
            ${_('This course is in your <a href="{cart_link}">cart</a>.').format(cart_link=cart_link)}
          </span>
        % elif is_course_full:
          <span class="register disabled">
            ${_("Course is full")}
          </span>
        % elif invitation_only and not can_enroll:
          <span class="register disabled">${_("Enrollment in this course is by invitation only")}</span>
        ## Shib courses need the enrollment button to be displayed even when can_enroll is False,
        ## because AnonymousUsers cause can_enroll for shib courses to be False, but we need them to be able to click
        ## so that they can register and become a real user that can enroll.
        % elif not is_shib_course and not can_enroll:
          <span class="register disabled">${_("Enrollment is Closed")}</span>
        %elif can_add_course_to_cart:
          <%
          if user.is_authenticated():
            reg_href = "#"
            reg_element_id = "add_to_cart_post"
          else:
            reg_href = reg_then_add_to_cart_link
            reg_element_id = "reg_then_add_to_cart"
          %>
          <% if ecommerce_checkout:
              reg_href = ecommerce_checkout_link
              reg_element_id = ""
          %>
          <a href="${reg_href}" class="add-to-cart" id="${reg_element_id}">
            ${_("Add {course_name} to Cart <span>({price} USD)</span>")\
              .format(course_name=course.display_number_with_default, price=course_price)}
          </a>
          <div id="register_error"></div>
        %else:
          <%
            if ecommerce_checkout:
              reg_href = ecommerce_checkout_link
            else:
              reg_href="#"
            if professional_mode:
              href_class = "add-to-cart"
            else:
              href_class = "register"
          %>
          <div class="inquire-wrapper">
            % if not course.advertised_start:
            <a href="${reg_href}" class="${href_class}">
              ${_("Enroll Now")}
            </a>
            % endif

            ## The preferred spelling is Enquire. PEAR-48
            <a href="${get_inquire_url(course)}" class="inquire">
              ${_("Enquire Now")}
            </a>
          </div>
          <div id="register_error"></div>
        %endif
        </div>


        <ol class="important-dates">
          <li class="important-dates-item"><span class="icon fa fa-info-circle" aria-hidden="true"></span><p class="important-dates-item-title">${_("Course Number")}</p><span class="important-dates-item-text course-number">${course.display_number_with_default | h}</span></li>
          % if not course.start_date_is_still_default:
              <%
                  course_start_date = course.advertised_start or course.start
              %>
            <li class="important-dates-item">
              <span class="icon fa fa-calendar" aria-hidden="true"></span>
              <p class="important-dates-item-title">${_("Classes Start")}</p>
              % if isinstance(course_start_date, string_types):
                  <span class="important-dates-item-text start-date">${course_start_date}</span>
              % else:
                  <%
                     course_date_string = course_start_date.strftime('%Y-%m-%dT%H:%M:%S%z')
                  %>
                  <span class="important-dates-item-text start-date localized_datetime" data-format="shortDate" data-datetime="${course_date_string}"></span>
              % endif
            </li>
          % endif
            ## We plan to ditch end_date (which is not stored in course metadata),
            ## but for backwards compatibility, show about/end_date blob if it exists.
            % if get_course_about_section(request, course, "end_date") or course.end:
                <%
                    course_end_date = course.end
                %>

            <li class="important-dates-item">
                <span class="icon fa fa-calendar" aria-hidden="true"></span>
                <p class="important-dates-item-title">${_("Classes End")}</p>
                  % if isinstance(course_end_date, str):
                      <span class="important-dates-item-text final-date">${course_end_date}</span>
                  % else:
                    <%
                        course_date_string = course_end_date.strftime('%Y-%m-%dT%H:%M:%S%z')
                    %>
                    <span class="important-dates-item-text final-date localized_datetime" data-format="shortDate" data-datetime="${course_date_string}"></span>
                  % endif
            </li>
            % endif

          ## Effort
          % if get_course_about_section(request, course, "effort"):
            <li class="important-dates-item">
              <span class="icon fa fa-pencil" aria-hidden="true"></span>
              <p class="important-dates-item-title">${_("Estimated Effort")}</p>
              <span class="important-dates-item-text effort">${get_course_about_section(request, course, "effort")}</span>
            </li>
          % endif

          ## Organization / Institute
          % if course.display_org_with_default:
            <li class="important-dates-item">
              <span class="icon fa fa-university" aria-hidden="true"></span>
              <p class="important-dates-item-title">${_("Institution")}</p>
              <span class="important-dates-item-text institution">${course.display_org_with_default}</span>
            </li>
          % endif

          ## Language
          % if course_details.language:
            <li class="important-dates-item">
              <span class="icon fa fa-language" aria-hidden="true"></span>
              <p class="important-dates-item-title">${_("Language")}</p>
              <span class="important-dates-item-text language">${get_language_info(course_details.language)['name_local']}</span>
            </li>
          % endif

          ## Pull course run info from course discovery
          <%
            discovery_course_run_details = get_course_run_details(course.id.to_deprecated_string(), ['weeks_to_complete'])
          %>

          ## Duration
          % if discovery_course_run_details.get('weeks_to_complete'):
            <li class="important-dates-item">
              <span class="icon fa fa-clock-o" aria-hidden="true"></span>
              <p class="important-dates-item-title">${_("Duration")}</p>
              <span class="important-dates-item-text duration">${_("{} Weeks").format(discovery_course_run_details['weeks_to_complete'])}</span>
            </li>
          % endif

          ## Price
          %if course_price and (can_add_course_to_cart or is_cosmetic_price_enabled):
            <li class="important-dates-item">
              <span class="icon fa fa-money" aria-hidden="true"></span>
              <p class="important-dates-item-title">${_("Price")}</p>
              <span class="important-dates-item-text">${course_price}</span>
            </li>
          %endif

          ## Prerequisites
          % if pre_requisite_courses:
          <% prc_target = reverse('about_course', args=[unicode(pre_requisite_courses[0]['key'])]) %>
          <li class="prerequisite-course important-dates-item">
            <span class="icon fa fa-list-ul" aria-hidden="true"></span>
            <p class="important-dates-item-title">${_("Prerequisites")}</p>
            ## Multiple pre-requisite courses are not supported on frontend that's why we are pulling first element
            <span class="important-dates-item-text pre-requisite"><a href="${prc_target}">${pre_requisite_courses[0]['display']}</a></span>
            <p class="tip">
            ${_("You must successfully complete {link_start}{prc_display}{link_end} before you begin this course.").format(
              link_start='<a href="{}">'.format(prc_target),
              link_end='</a>',
              prc_display=pre_requisite_courses[0]['display'],
            )}
            </p>
          </li>
          % endif

          ## Requirements
          % if get_course_about_section(request, course, "prerequisites"):
            <li class="important-dates-item">
              <span class="icon fa fa-book" aria-hidden="true"></span>
              <p class="important-dates-item-title">${_("Requirements")}</p>
              <span class="important-dates-item-text prerequisites">${get_course_about_section(request, course, "prerequisites")}</span>
            </li>
          % endif
        </ol>

        % if get_course_about_section(request, course, "video"):
        <a href="#video-modal" class="media" rel="leanModal">
          <div class="hero">
            <img src="${course_image_urls['large']}" alt="" />
            <div class="play-intro"></div>
          </div>
        </a>
        % endif

</%block>

${HTML(parent.body())}
