<%inherit file="courses.html" />
<%!
    from django.utils.translation import ugettext as _
    from openedx.core.djangolib.markup import HTML
%>

<%block name="pagetitle">${_("Programs")}</%block>

<%block name="course_discovery_search">
## The discovery form is removed and this overview is shown instead

        <%include file="../pearson_banner.html" />
        <div class="programs-page-overview">
          <h2>The PearsonX Difference: Global Education and Network</h2>
          <p>
            With PearsonX, you are providing yourself with an education that is not only recognized globally, but also one that connects you to a global network. We have worked with educators to design a Learner Journey that is centered on the student’s success from start to finish. This is our Engage.Network.Progress model which provides meaningful engagement through online and blended curriculum to your peers and instructors. Students are coached to build strong connections with each other, their instructors, industry thought leaders, as well as PearsonX alumni.
          </p>
          <p>
            Our programs offer either online or in-person learning opportunities that not only give you a sense of community, but also the confidence that both your instructors and peers will support you throughout the program.  Additionally, we provide a Career Progression Series that is blended with outstanding content from edX’s top university partner programs to give you the competencies most in demand by employers.
          </p>
          <p>
            Upon completion of the PearsonX program, you will earn a digital badge that can be shared on LinkedIn™, through email or a variety of other prominent social media platforms. 
          </p>
        </div>
</%block>

<%block name="course_discovery_refine_search"></%block>

${HTML(parent.body())}
