/****************************************************************************************************
*   Unow Theming File
*
****************************************************************************************************/

//-----------------
//  Color variables
//-----------------

// Unow colors

$orange: #f89406;
$dark-green: #1f8a87;
$light-green: #16a96a;
$dark-gray: #231f20;

//Gray Color Variables
$gray: #3f3c30; //Main Text Color
$gray-75: lighten($gray, 18.25%); //Lighter Text Color

$gray-2: #f2f1eb;
$gray-1: #fbfbf9;
$white: $gray-1; //Main BG Color

$black: $dark-gray;
$black-80: #585754;

//-----------------
//  Font Assignment
//-----------------

$theme-sans-font: 'Source Sans';
$sans-serif: $theme-sans-font, $sans-serif;
$body-font-family: $sans-serif;

$theme-serif-font: 'Crimson Text';
$serif: $theme-serif-font, $serif;

//-----------------
//  Theme Element Assignments
//-----------------

$body-bg: $white;
$container-bg: $white;
$login-register-bg: $white;
$content-wrapper-bg: $white;
$header-image: none;
$header-bg: $white;
$courseware-header-image: none;
$courseware-header-bg: $white;
$footer-bg: $white;
$courseware-footer-border: 1px solid $light-green;
$courseware-footer-shadow: box-shadow(2px 1px 0 rgba(0, 0, 0, .1));
$courseware-footer-margin: 50px;

$faded-hr-image-1: linear-gradient($white 0%, $white);
$faded-hr-image-2: linear-gradient($white 0%, $white);
$faded-hr-image-3: linear-gradient($white 0%, $white);
$faded-hr-image-4: linear-gradient($white 0%, $white);
$faded-hr-image-5: linear-gradient($white 0%, $white);
$faded-hr-image-6: linear-gradient($white 0%, $white);

$base-font-color: $black;
$lighter-base-font-color: $black-80;
$very-light-text: $white;

$link-color: $dark-green;
$link-color-d1: $dark-green;
$link-hover: $light-green;
$site-status-color: $orange;

$header-graphic-super-color: $dark-green;
$header-graphic-sub-color: $lighter-base-font-color;

$header-link-color: $dark-green;
$header-link-hover: $light-green;

$button-color: $orange;
$button-archive-color: $gray-2;

$shadow-color: $black;

// actions
$button-bg-image: none;
$button-bg-color: $gray-2;
$button-bg-hover-color: $orange;

// actions - primary
$action-primary-bg: $dark-green;
$action-primary-fg: $gray-2;
$action-primary-shadow: none;

// focused - hover/active pseudo states
$action-primary-focused-bg: $orange;
$action-primary-focused-fg: $white;

// current or active navigation item
$action-primary-active-bg: $orange;
$action-primary-active-fg: $white;
$action-primary-active-shadow: none;
$action-primary-active-focused-fg: $gray-2;
$action-primary-active-focused-shadow: none;

// disabled
$action-primary-disabled-bg: $gray-75;
$action-prmary-disabled-fg: $white;



// actions - secondary
$action-secondary-bg: $dark-green;
$action-secondary-fg: $gray;
$action-secondary-shadow: none;

// focused - hover/active pseudo states
$action-secondary-focused-bg: $light-green;
$action-secondary-focused-fg: $gray;

// current or active navigation item
$action-secondary-active-bg: $light-green;
$action-secondary-active-fg: $gray;
$action-secondary-active-shadow: none;
$action-secondary-active-focused-fg: $gray-75;
$action-secondary-active-focused-shadow: none;

// disabled
$action-secondary-disabled-bg: $gray-2;
$action-secondary-disabled-fg: $gray;

//

$border-color-1: transparentize($dark-green, .9);
$border-color-2: transparentize($dark-green, .9);
$border-color-3: transparentize($dark-green, .9);
$outer-border-color: transparentize($dark-green, .9);

$sidebar-color: $white;

$homepage__header--gradient__color--alpha: $white;
$homepage__header--gradient__color--bravo: $white;
$homepage__header--background: $white;
$dashboard-profile-header-image: none;
$dashboard-profile-header-color: $white;
$dashboard-profile-color: $gray-2;
$dot-color: $light-green;

$course-bg-color: $gray-2;
$course-bg-image: none;
$account-content-wrapper-bg: $white;

$course-profile-bg: $white;
$course-header-bg: transparentize($white, .1);

$sidebar-chapter-bg-top: transparentize($white, .3);
$sidebar-chapter-bg-bottom: transparentize($white, .9);
$sidebar-chapter-bg: $orange;
$sidebar-active-image: $orange;

$form-bg-color: $white;
$modal-bg-color: $white;

//TOP HEADER IMAGE MARGIN
$header_image_margin: -77px;

//FOOTER MARGIN
$footer_margin: ($baseline/4) 0;

//-----------------
//  CSS BG Images
//-----------------
$homepage-bg-image: url('../themes/unow/images/unow-logo.png');

$login-banner-image: none;
$register-banner-image: none;

//-----------------
//  Mixin Styles
//-----------------
@mixin login_register_h1_style {
    clip: auto !important;
    height: 50px;
    width: 550px;
    margin-top: 50px;
}

@mixin footer_references_style {
    margin: 0 !important;
    text-align: right;
}

// ----------------
// Style Overrides
//-----------------

.home > header {
    .outer-wrapper {
        margin-top: 90px !important;
    }
}