<%inherit file="navbar-authenticated.html" />
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML
%>

  <%block name="navigation_global_links_authenticated">
    <li class="item nav-global-01">
      <a class="btn" href="${marketing_link('COURSES')}">${_('Programs')}</a>
    </li>

    <li class="item nav-global-02">
      <a class="btn" href="/about">About Pearson<sup>X</sup></a>
    </li>

    % if settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff:
      <li class="item">
        ## Translators: This is short for "System administration".
        <a class="btn" href="${reverse('sysadmin')}">${_("Sysadmin")}</a>
      </li>
    % endif
  </%block>
