.wrapper-account-settings {
	padding: 0px 20px;
	min-width: 0;

	.wrapper-header {
		width: 100%;
		height: 127px;

		.header-title {
			font-size: 2.2rem;
			color: $brand-primary-color;
			@include primary-font-bold;
			letter-spacing: 0;
			width: 100%;
			padding-top: 20px;
		}

		.account-settings-header-subtitle {
			margin: 10px 0 5px;
			font-size: 1.6rem;
			@include primary-font;
			color: rgba($base-text-color, 0.85);
			width: 100%;
		}

		.account-nav-link {
			font-weight: $primary-font-weight-bold;
		}
	}
}

.account-settings-sections {

	.section {
		background-color: #fff;
		box-shadow: none;

    .account-settings-section-body {
      .u-field {
        border-bottom: 1px solid rgba(#ccc, 0.6);
        @include display(flex);
        @include flex-wrap(wrap);
        @include align-items(center);

        &:last-of-type {
          border-bottom: none;
        }

        .field {
          width: 49%;
          padding: 0;
          margin: 0;

          @media(max-width:$screen-sm-max) {
            width: 100%;
          }

          .field-label {
            @include primary-font-bold;
            font-size: 1.4rem;
            color: rgba($base-text-color, 0.7);
            margin: 0;
            padding: 0.625rem;
            display: inline-block;
            line-height: $courseware-content-line-height;

            width: 49%;
            @media(max-width:$screen-sm-max) {
              width: 39%;
            }
            @media(max-width:$screen-xs-max) {
              width: 100%;
            }
          }
          .field-input {
            border-top: none;
            border-left: none;
            border-right: none;
          }
          #u-field-value-username {
            padding-top: 0;
          }
          .u-field-link {
            margin-top: 10px;
          }

          .u-field-value {
            @include primary-font;
            color: rgba($base-text-color, 1);
            margin: 0;
            padding: 0;
            display: inline-block;

            @media(max-width:$screen-xs-max) {
              width: 100%;
            }

            b, strong {
              font-weight: 400;
            }

            input {
              border-radius: 0;
              border: none;
            }

            input, select {
              box-shadow: none;
              @include primary-font;
              width: 49%;
              height: auto;
              padding: 10px 5px;
              font-size: 16px;
              height: auto;
              @include transition(all 0.3s ease-in-out);
              position: relative;
              top: 0;

              &:focus {
                outline: none;
                border-bottom: 2px solid $brand-primary-color;
                margin-bottom: 13px;
              }

              &:hover {
                opacity: 0.5;
              }
            }

            input:read-only {
              border: none;
              opacity: 0.8;
              margin-bottom: 0;
            }
          }

          #u-field-value-username,
          .field-input,
          .u-field-link,
          select {
            width: 50%;
            @media(max-width:$screen-sm-max) {
              width: 60%;
            }
            @media(max-width:$screen-xs-max) {
              width: 100%;
            }
          }
        }

        .u-field-message {
          @include primary-font;
          color: $base-text-color;
          width: 40%;
          padding: 0;
          margin: 0;
          @include transition(all 0.3s ease-in-out);
          opacity: 0.55;
          margin-left: 5%;

          @media(max-width:$screen-sm-max) {
            display: none;
          }

          &:hover, &:focus {
            opacity: 0.85;
          }

          .u-field-message-notification {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0;
          }
        }

        .u-field-message-help {
          color: $base-text-color;
        }
      }
    }
	}

	.section-header {
		@include primary-font-bold;
		font-size: 1.8rem;
		color: rgba($base-text-color, 0.7);
		margin-bottom: 10px;
		padding-bottom: 20px;
	}

	a, a span {
		color: $brand-primary-color;
		@include transition(all 0.3s ease-in-out);

		&:hover, &:focus {
			color: darken($brand-primary-color, 15%);
		}
	}
}
