.cloudera--footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #29A7DE;
  color: rgba(#fff, 0.5);

  a {
    color: #fff;
    @include primary-font;
    @include transition(all 0.3s ease-in-out);

    &:hover, &:focus {
      color: #fff;
    }
  }

  &__container {
    @include display(flex);
  }

  &__left {
    @include flex-shrink(1);
    width: 100%;
  }

  &__right {
    @include flex-shrink(0);
    text-align: right;
  }

  &__menu {
    padding: 0;
    margin: 2rem 0;

    li {
      list-style-type: none;
      display: inline-block;
      margin-right: 2rem;
      padding: 0.5rem 0;
      border-bottom: 0.2rem solid transparent;
      @include transition(all 0.3s ease-in-out);

      &:hover, &:focus {
        border-color: #fff;
      }

      a {

        &:hover, &:focus {
          opacity: 1;
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }

  &__contact-text {

    p {
      margin: 0.5rem 0;
    }
  }

  &__copyright {
    margin: 2rem 0;
    font-size: 1.3rem;
    max-width: 80rem;
  }

  &__social-links {
    padding: 0;
    margin: 2rem 0;
    @include display(flex);
    @include justify-content(flex-end);

    li {
      @include display(flex);
      @include align-items(center);
      list-style-type: none;
      margin-left: 2rem;
      width: 3.2rem;
      height: 3.2rem;
      background-color: transparent;
      border: 0.2rem solid #fff;
      border-radius: 100%;
      @include transition(all 0.3s ease-in-out);

      &:hover, &:focus {
        opacity: 0.5;
      }

      a {
        display: block;
        margin: 0 auto;

        &:hover, &:focus {
          color: #fff;
        }
      }
    }
  }

  &__bottom-right-links {
    padding: 0;
    margin: 0;

    li {
      margin: 0.5rem 0;
      padding: 0 1rem;
      display: inline-block;
      border-right: 0.1rem solid rgba(#fff, 0.5);

      &:last-of-type {
        border-right: none;
        padding-right: 0;
      }

      a {
        @include primary-font-light;

        &:hover, &:focus {
          opacity: 1;
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }
}
