.cloudera--custom-block-02 {
  padding: 8rem 0;
  line-height: 150%;
  background-color: #fff;
  text-align: center;

  &__container {

  }

  &__content {
    max-width: 72rem;
    margin: 0 auto;

    h2 {
      @include big-headings-font;
      font-size: 3.6rem;
      margin: 0 0 3rem;
      color: $brand-primary-color;
      text-transform: none;
    }

    p {
      margin: 1rem 0;
    }
  }

  a.cloudera--cta-button {
    background-color: transparent;
    border: 0.1rem solid $brand-accent-color;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem 2.5rem;
    margin: 3rem 0 0 0;
    font-size: 1.6rem;
    @include primary-font;
    color: $brand-accent-color;
    @include button_radius;
    @include button_splash($buttons-border-radius);

    &:hover, &:focus {
      color: rgba(#fff, 0.8);
    }
  }
}
