<%page args="course" />
<%!
  from django.utils.translation import ugettext as _
  import re
%>
<%
  course = course
%>
<%namespace file='../translator-templates/_single-course.html' import="get_course_info" />

<%
  course_info = get_course_info(course)
  course_image = course_info['course_image']
  course_start_text = course_overview.get(start_datetime_text("SHORT_DATE"),"")
%>

<article id="course_info['id']" class="a--course-tile-03" aria-label="${course_info['course_title']}">
  <a class="a--course-tile-03__image" style="background-image: url('${course_image}');" role="presentation"></a>
  <div class="a--course-tile-03__info-container">
    <div class="a--courses-tile-03__info">
      <p class="a--course-tile-03__code">${_(course_info['course_code'])}</p>
      <p class="a--course-tile-03__title">${_(course_info['course_title'])}</p>
      <span class="a--course-tile-03__separator-line" role="presentation"></span>
      % if bool(re.match('.*elf.*aced.*', course_start_text)):
        <p class="a--course-tile-03__start-date">${_(course_start_text)}</p>
      % else:
        <p class="a--course-tile-03__start-date">${_(course_info['course_start_date'])}</p>
      % endif
      <p class="a--course-tile-03__description">${_(course_info['course_short_description'])}</p>
      <a class="a--course-tile-03__more-info" href="${course_info['course_url']}">Learn more...</a>
    </div>
  </div>
</article>
