@import 'bourbon/bourbon';

// Fonts
$sans-serif: 'Calibre', 'Roboto', 'Lato', 'Open Sans', sans-serif;
$serif: $sans-serif;
$header-sans-serif: $sans-serif;
$f-sans-serif: $sans-serif;
$f-serif: $sans-serif;

// Palette
$midnight-blue: rgb(0, 77, 111);
$brilliant-blue: rgb(41, 167, 222);
$brilliant-blue-light: lighten($brilliant-blue, 20%);
$aqua-blue: rgb(130, 220, 216);
$royal-blue: rgb(0, 120, 217);
$gray-blue: rgb(151, 210, 230);
$sunrise-yellow: rgb(255, 214, 100);
$accent-red: rgb(230, 70, 48);
$dark-gray: #333e48;

// Colors
$action-primary-bg: $midnight-blue;
$action-primary-shadow: $midnight-blue;
$action-primary-focused-bg: $midnight-blue;
$action-primary-active-bg: $midnight-blue;
$action-primary-active-shadow: $midnight-blue;
$link-color: $brilliant-blue;
$link-color-d1: $brilliant-blue;
$link-hover: $brilliant-blue;
$button-color: $midnight-blue;
$base-font-color: $dark-gray;

// Header
$header-bg: $dark-gray;

// Footer
$footer-bg: $dark-gray;

// This import needs to be moved below header-bg and footer-bg definitions,
// otherwise it'd mess up these overrides.
@import 'lms/static/sass/partials/lms/theme/variables-v1';

// Body
$homepage-bg-image: url('#{$static-path}/images/banner.jpg');
