@import 'bourbon/bourbon';
@import 'edx-bootstrap/sass/open-edx/theme';

// Fonts
$sans-serif: 'Calibre', 'Roboto', 'Lato', 'Open Sans', sans-serif;
$serif: $sans-serif;
$header-sans-serif: $sans-serif;
$f-sans-serif: $sans-serif;
$f-serif: $sans-serif;

// Palette
$cloudera-orange: rgb(255, 132, 0);
$cloudera-slate: rgb(48, 88, 104);
$white: rgb(255, 255, 255);
$cloudera-mint: rgb(0, 163, 175);
$cloudera-blue: rgb(0, 140, 255);
$cloudera-dark-orange: rgb(249, 103, 2);
$black: rgb(0, 0, 0);
$dark-grey: rgb(60, 60, 60);
$medium-grey: rgb(125, 125, 125);
$grey: rgb(175, 175, 175);
$light-grey: rgb(225, 225, 225);

// shifted palette colours for eg. link hovering
$cloudera-blue-light: scale-color($cloudera-blue, $lightness: 20%);

// Colors
$action-primary-bg: $cloudera-slate;
$action-primary-shadow: $cloudera-slate;
$action-primary-focused-bg: $cloudera-slate;
$action-primary-active-bg: $cloudera-slate;
$action-primary-active-shadow: $cloudera-slate;
$link-color: $cloudera-blue;
$link-color-d1: $cloudera-blue;
$link-hover: $cloudera-blue-light;
$button-color: $cloudera-slate;
$base-font-color: $dark-grey;

// Header
$header-bg: $dark-grey;

// Footer
$footer-bg: $dark-grey;

// This import needs to be moved below header-bg and footer-bg definitions,
// otherwise it'd mess up these overrides.
@import 'lms/static/sass/partials/lms/theme/variables-v1';

// Body
$homepage-bg-image: url('#{$static-path}/images/banner.jpg');
