@import 'lms/static/sass/partials/base/variables';

$verdana: Verdana, Geneva, sans-serif;
$sans-serif: 'Open Sans', $verdana, sans-serif !default;
$success-color: $success;

$pearsonx-main-color: #007fa3;
$custom-color: $pearsonx-main-color;

$homepage-bg-image: url('../images/clipboard.jpg');

$pearson-banner-image: url('../images/steps.jpg');
