## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">
<footer class="cloudera-footer">
  <div class="cloudera-footer-container">
    <div class="cloudera-footer-left">
      <ul class="cloudera-footer-menu">
        <li><a href="http://www.cloudera.com/about-cloudera.html">About</a></li>
        <li><a href="http://www.cloudera.com/resources.html">Resources</a></li>
        <li><a href="http://www.cloudera.com/contact-us.html">Contact</a></li>
        <li><a href="http://www.cloudera.com/about-cloudera/careers.html">Careers</a></li>
        <li><a href="http://www.cloudera.com/about-cloudera/press-center.html">Press</a></li>
        <li><a href="http://www.cloudera.com/documentation.html">Documentation</a></li>
        <li><a href="http://www.cloudera.com/blogs.html">Blogs</a></li>
      </ul>
      <div class="cloudera-footer-contact-text">
        <p>United States: +1 888 789 1488</p>
        <p>Outside the US: +1 650 362 0488</p>
      </div>
      <div class="cloudera-footer-copyright">
        © Copyright 2010-2016 Cloudera. All rights reserved. Not to be reproduced or shared without prior written consent from Cloudera.
      </div>
    </div>
    <div class="cloudera-footer-right">
      <ul class="cloudera-footer-social-links">
        <li>
          <a href="https://www.linkedin.com/company/cloudera" target="_blank"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
          <a href="https://www.facebook.com/cloudera" target="_blank"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/cloudera" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="http://www.cloudera.com/contact-us.html" target="_blank"><i class="fa fa-envelope"></i></a>
        </li>
      </ul>
      <ul class="cloudera-footer-bottom-right-links">
        <li>
          <a href="http://www.cloudera.com/legal/terms-and-conditions.html">Terms & Conditions</a>
        </li>
        <li>
          <a href="http://www.cloudera.com/legal/policies.html">Policies</a>
        </li>
      </ul>
      <div class="footer-about-openedx">
        <p>
          <a href="${footer['openedx_link']['url']}">
            <img src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag-light.png" alt="Powered by Open edX" width="140" />
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
</div>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
% if settings.FEATURES.get('ENABLE_COOKIE_CONSENT', False):
  <%include file="widgets/cookie-consent.html" />
% endif
