<%inherit file="index.html" />
<%!
    from openedx.core.djangolib.markup import HTML
%>
<%block name="welcome_overlay"></%block>

<%block name="top_banner">
<%include file="pearson_banner.html" />
</%block>

<%block name="before_main_header_text">
      <div class='hero-container'>
        <div class='hero-image'></div>
        <div class='hero-text'>
          <h2>Why PearsonX?</h2>
          <p>PearsonX partners with top institutions to provide students with globally recognized, industry relevant, programs of study. Our blended model provides flexible online courses with in-person support and interaction to help program completion and career progression.</p>
          <p>Combining online curriculum with local services and expertise we deliver online and blended programs that result in effective learning outcomes. The focus is on learning that is engaging and provides a network to provide the education necessary for career advancement.</p>
          <p>PearsonX provides:
            <ul>
              <li>Education that is recognized globally and connects to a global network.</li>
              <li>Engagement with peers and instructors – internationally and locally, in-person and online.</li>
              <li>Curriculum and competencies most in demand by employers and an ever evolving workplace.</li>
              <li>Programs validated by leading academic institutions and relevant industries.</li>
            </ul>
          </p>
          <p><a href="/about">Learn More</a></p>
        </div>
      </div>
</%block>

<%block name="after_main_header_text">
  <div class="offered-by-box">
    <h2>
      Offered by Pearson and edX in conjunction with University of Pennsylvania’s Wharton School, Columbia, Thunderbird, and TU Delft
    </h2>
  </div>
</%block>

<%block name="courses_list">

<!-- Indefinitely hide the featured programs container

    <div class="programs-container">
      <div class="program-container">
        <a href="/courses">
          <div class="program-image">
            <img src="/static/pearsonx/images/data-analytics-image.jpg">
          </div>
          <div class="program-name">
            <h2>Data Analytics for Business</h2>
          </div>
        </a>
      </div>
    </div>

-->
</%block>

${HTML(parent.body())} 
