.a--courseware-wrapper__content {

  .discussion-module {
    margin: 4rem 0;

    .discussion-show {
      line-height: 2*$courseware-content-line-height;
    }
    .new-post-btn {
      line-height: $courseware-content-line-height;
    }
    .discussion-pagination {
      padding-bottom: 3.6rem;
    }
    .responses {
      padding: 0 0 0 1.6rem;

      .forum-response {
        position: relative;

        .discussion-response {
          .response-header-actions {
            right: 0;
          }
        }
        .comments {
          padding: 0 0 0 1.6rem;
        }
      }
    }
    .reply-post-control {
      padding-top: 1.6rem;
    }
  }
}
